<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
    
  	<servlet>
	    <servlet-name>profileimageservlet</servlet-name>
	    <servlet-class>com.ttgprofileimage.ProfileImageServlet</servlet-class>
	    
	    <init-param>
	        <param-name>requestParameter</param-name>
	        <param-value>handle</param-value>
	    </init-param>
	    
	    <!-- LinkedIn -->
	    <init-param>
	        <param-name>linkedInConsumerKey</param-name>
	        <param-value>7728b7mz21og75</param-value>
	    </init-param>    
	    <init-param>
	        <param-name>linkedInConsumerSecret</param-name>
	        <param-value>lsq6b6rSMQTX9ReG</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>linkedInAccessToken</param-name>
	        <param-value>aaf71121-02b8-41b6-b049-d232e2222dd7</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>linkedInAccessTokenSecret</param-name>
	        <param-value>ab2bc414-5054-4f7d-a419-d1a1e82f0ff6</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>linkedInURL</param-name>
	        <param-value>http://api.linkedin.com/v1/people/~?secure-urls=true&url={ handle }/picture-urls::(original)</param-value>
	    </init-param>
	    
	    <!-- Twitter -->
	    <init-param>
	        <param-name>twitterConsumerKey</param-name>
	        <param-value>hHKbEpoT86DcFwuvZ0B8JQ</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>twitterConsumerSecret</param-name>
	        <param-value>J2LhRTHWlVcVta7E7BFGvZNy0h6ZVcZGFf5d97R0ERI</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>twitterAccessToken</param-name>
	        <param-value>2291204155-74hZw6tJATnOnGidwlLvMLMCuoI0hv1gHveRaab</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>twitterAccessTokenSecret</param-name>
	        <param-value>4NL4979d3FQNTIzhsmsorkQ0MzaMhcUi4T9HeNTZhGFvS</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>twitterURL</param-name>
	        <param-value>https://api.twitter.com/1.1/users/lookup.json?screen_name={ handle }</param-value>
	    </init-param>    
  	</servlet>
  
	<servlet-mapping>
		<servlet-name>profileimageservlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
</web-app>